obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
*.properties.xml
*.config.xml
*.bootstrap.xml
AssemblyInfo.cs
build/config/AssemblyInfo.cs
build/config/bootstrap.xml
compile
artifacts
installation
*.user
